<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="main">
      <div class="conteiner">
        <div class="topo">
          <img src="./mpdf/layout/topo.PNG" alt="">
        </div>
        <div class="titulo">
          <strong>
              TERMO DE RESPONSABILIDADE<br>
            CEDÊNCIA DE ESPAÇOS COM EMPRÉSTIMO DE EQUIPAMENTOS
          </strong>
        </div>
        <div class="form">
          <div class="row">
            <strong>Nome solicitante:</strong> $nomePesso.
          </div>
          <div class="row">
            <strong>Instituição:</strong> $solicitante.
          </div>
          <div class="row">
            <div class="w50">
              <strong>Telefone:</strong> $telefone.
            </div>
            <div class="w50">
              <strong>E-mail:</strong> $mail.
            </div>
          </div>
          <div class="row">
            <strong>Local:</strong> $espaco.
          </div>
          <div class="row">
            <div class="w50">
              <strong>Data:</strong> $data.
            </div>
            <div class="w50">
              <strong>Horário:</strong> $hora.
            </div>
          </div>
          <div class="row">
            <strong>Tipo de evento (objetivo):</strong> $assunto.
          </div>
          <div class="row">
            <strong>Quantidade de pessoas:</strong> ..............
          </div>
          <div class="roe">
            <strong>Equipamentos:</strong> $recurso
          </div>
        </div>

        <div class="form">
          Declaro assumir total responsabilidade por extravio ou danos verificados após o término do evento, dos equipamentos utilizados no mesmo. Além de garantir a devolução do espaço da forma como foi encontrado.
        </div>

        <div class="termo">
          Nestes termos, solicito deferimento.
        </div>

        <div class="center form">
          Caxias do Sul, _____ de ________________ de ______.
        </div>

        <div class="form center">
          ____________________________<br>
          Assinatura do solicitante
        </div>
        <div class="roda" style="">
          <img src="./mpdf/layout/roda.PNG" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
